<!DOCTYPE html>
<html>
<head>
	<title>Club Member Reports</title>
</head>
<body>
	<h1>Club Member Reports</h1>
	<p>Dear {{name}},</p>
	<p>As a valued member of our club, we wanted to provide you with an individual report on your activity within the club over the past month, as well as a summary of your club and district dues.</p>
	<h2>Activity Summary</h2>
	<ul>
		<li>Number of events attended: 2</li>
		<li>Total volunteer hours: 18hrs</li>
		<li>Number of committee meetings attended: 3</li>
	</ul>
	<h2>Club and District Dues Summary</h2>
	<ul>
		<li>Year: {{year}}</li>
		<li>Month: {{month}}</li>
		<li>Club dues Paid: {{clubDues}}</li>
		<li>District dues Paid: {{districtDues}}</li>
		<li>Club dues balance: {{clubDuesBalance}}</li>
		<li>District dues balance: {{districtDuesBalance}}</li>
	</ul>
	<p>Please let us know if you have any questions about your dues or activity summary. Thank you for your continued participation and support of our club!</p>
	<p>Best regards,</p>
	<p>Leo Fredrick Yalley<br>
	Takoradi Oil City</p>
</body>
</html>